      ::-webkit-scrollbar{
            display: none;
      }
      // .upper{
      //       display: flex;
      //       flex-direction: row;
      //       gap: 5rem;
      // }

      
      .edit{
            position: absolute;
            top: 40vh;
            z-index: 5;
            background-color: white;
            max-width: 30%;
            left: 25vw;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            min-height: 20%;
            padding-left: 2rem;

            button{
                  width: 7%;
                  padding: .5rem;
                  background-color: red;
                  color: white;
                  border: none;
                  border-radius: .8rem;
                  margin: 1.5rem 0 1rem 0;
            }
            .done{
                  width: 12%;
                  background-color: rgb(138, 186, 138);
            }
            textarea{
                  // margin: 0 0 1rem 0;
                  border-radius: .8rem;
                  padding: 1rem 0 1rem 1rem;
                  width: 90%;
            }
            h4{
                  text-transform: capitalize;
                  margin-bottom: 1rem;
            }
      }

@media only screen and (min-width: 820px){
      .upper{
            display: flex;
            flex-direction: row;
            gap: 5rem;
      }
      .lower{
            width: 100%;
            

            .listOuterDiv{
                  
                  width:100%;
                  
                  .lists{

                        width: 18%;
                  }

            }
      
      }
      
}
@media only screen and (max-width: 820px) {
      .main{
            width:100vw;
            height: 92vh;
            
      }
      .secondary{
            width: 100%;
      }
      .upper{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 4rem;
      }
      .upperDivs{
            width: 60%;

            &:nth-child(2){
                  margin-right: 1rem;

            }
            &:nth-child(3){
                  margin-right: 1rem;

            }
      }

      .lower{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .listOuterDiv{
                  display: flex;
            flex-direction: row;
            justify-content: center;
            // flex-wrap: nowrap;
                  width:100%;
                  // background-color: burlywood;
                  .lists{

                        width: 40%;
                  }

            }
      
      }

      .edit{           
            top: 70%;
            max-width: 45%;
            button{
                  width: 16%;
            }
            .done{
                  width: 25%;
            }
            textarea{
                  
                  padding: 1rem 0 2rem 1rem;
                 
            }
      }
      
}
            