  <div class="main mt-4 ps-4 pt-5 pe-4 position-absolute w-100" style="top: 5% ; bottom: 15%; height: fit-content; background-color: rgb(244, 245, 250);">
    
        <div class="secondary">
          <div class=" upper">
              
              <div class="upperDivs me-4 p-3 ps-4 mb-3 rounded-4" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; background-color: #623d6a;">
                  <input placeholder="Add category" #newCategory class="form-control w-75 mt-2 mb-4" (change)="getCategoryName($event)"/>
                  <button class="btn text-white fw-700" (click)="addNewCategory()" style="background-color:rgb(169, 118, 179);">Add Category</button>
              </div>
              
              <div class="upperDivs p-4 mb-3 rounded-4" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; background-color: #623d6a;">
                  <select (change)="getSelectedValue($event)" class="form-select">
                    <option selected>Select Category</option>
                    <option *ngFor="let item of categories" style="text-transform: capitalize;">{{item}}</option>
                  </select>
                  <input placeholder="Title" #nameField class="form-control mt-3 mb-3" (change)="nameChange($event)"/>
                  <input placeholder="description" #descField class="form-control mb-3" (change)="descChange($event)"/>
                  <button class="btn text-white" style="background-color:rgb(169, 118, 179);" (click)="addValues()">Add</button>
              </div>
              
              <div class="upperDivs p-4 mb-3 rounded-4" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; background-color: #623d6a;">
                  <input placeholder="Member Name" #member class="form-control mt-3 mb-3" (change)="memberNameChange($event)"/>
                  <button class="btn text-white" style="background-color:rgb(169, 118, 179);" (click)="addMember()">Add</button>
              </div>
              <div class="upperDivs p-4 mb-3 rounded-4" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; background-color: #623d6a;">
                  <input placeholder="Member Name" #member class="form-control mt-3 mb-3" (change)="memberNameChange($event)"/>
                  <button class="btn text-white" style="background-color:rgb(169, 118, 179);" (click)="removeMember()">Remove</button>
              </div>
          </div>
      
        </div>
      
        <div class="lower ps-2">
        
          <div (wheel)="mouseMove($event)" #outerBox class="outerBox mt-4  mb-5 d-flex flex-row gap-4 justify-content-start pt-4 pb-4 row listOuterDiv" style="overflow: auto; flex-wrap: nowrap; overflow: auto;">
        
              <div droppable *ngFor="let item of newTodos, index as i" class="{{newTodos[i][0].category}} lists p-4 rounded-4 d-flex flex-column gap-4 " style="text-transform: capitalize; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; background-color: #623d6a;">
                  
                <p class="fs-4 text-center text-white" >{{newTodos[i][0].category}}</p>
        
                <div *ngFor="let data of item, index as i" class="draggable rounded-4 text-seondary ps-3 pt-3 pb-3" draggable="true" (dragleave)="Drop($event)" (dragstart)="dragStart($event)" style="background-color: rgb(218, 207, 238);">
                    <div class="d-flex flex-row justify-content-between">                    
                      <button class="btn mb-3 text-white" (click)="remove(data, i)" style="background-color: rgb(153, 94, 153);">X</button>
                      <button class="btn mb-3 me-3 text-secondary " (click)="showData(data, i)" >
                        <fa-icon [icon]="faPencil"></fa-icon>
                      </button>
                    </div>
                    <p class="fs-5" style="color: #783387;">{{(data.name ==="" ? "No name" : data.name)}}</p>
                    
                </div>
              </div>
              <div *ngIf="show" class="edit">
                <button (click)="hideEdit()">X</button>
                <h4>{{dataName}}</h4>
                <textarea #textArea (change)="updateTextArea($event)">{{dataDescription}}</textarea>
                <button class="done" (click)="updateDesc()">Done</button>
              </div>
        
          </div>
        </div>
      
      </div>
      